html {
    /* overflow: scroll; */
    overflow-y: scroll;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-track {
    background: #ddd;
}

html::-webkit-scrollbar-thumb {
    background: #63AB45;
}